doctype html
html(lang='es')
    head
        link(rel="stylesheet", href="/css/verifyUser.css", data-inline)
        meta(charset='UTF-8')
        title Verificar cuenta
    body 
        h1(class='h1') ¡Saludos <b>#{username}.</b>!
        p(class='p') Estamos muy felices por su decidisión de formar parte de esta comunidad.
        p(class='link') Antes que nada, verifiquemos que esta direción de correo electrónico sea real.<br>Para ello, haga click en el siguiente <a href=#{link}>link</a>.
        footer
            p(class='p') No responda a este remitente.
            p(class='p') Atte: Equipo de <b><i>PetsBridge.</i></b>