doctype html
html(lang='es')
    head
        link(rel="stylesheet", href="/css/verifyUser.css", data-inline)
        meta(charset='UTF-8')
        title Verificar cuenta
    body 
        h1(class='h1') ¡Hola <b>#{username}.</b>!
        p(class='p') Estamos muy felices que hayas decidido formar parte de nuestra comunidad.
        p(class='link') Antes que nada, verifiquemos tu correo electrónico.<br>Para ello, haz click en el siguiente <a href=#{link}>link</a>.
        footer
            p(class='p') No responda a este remitente.
            p(class='p') Atte: Equipo de <b><i>PetsBridge.</i></b>