doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Verificar cuenta
    header(style='background-color:#613900; padding-top:4vh; padding-bottom:4vh;')
        h1(style='text-align:center') <span style='color:#1F120A;'>Pet</span><span style='color:#F0A83E;'>Bridge</span>
    body
        section(style='padding-bottom:2vh; border-bottom:solid #AA6C0D;')
            h2(style='color:#DE8C11;') ¡Saludos <b>#{username}</b>!
            p(style='text-align: left; color:#1F120A;') Estamos muy felices por su decidisión de formar parte de esta comunidad.
            p(style='text-align: left; color:#1F120A;') Antes que nada, verifiquemos que esta direción de correo electrónico sea real.<br>Para ello, haga click en <b>Verificar.</b>
            p(style='text-align:center; margin:4vh 0 4vh 0;') <b><a href=#{link} style='padding:2vh; color:#FFF4E5; background:#DE8C11; border-radius:2em; text-decoration:none;'>Verificar.</a></b>
        footer
            p(style='text-align: left; color:#1F120A;') No responda a este remitente.
            p(style='text-align: left; color:#1F120A;') Atte: Equipo de <b><span style='color:#1F120A;'>Pet</span><span style='color:#F0A83E;'>Bridge</span></b>.