doctype html
html(lang='es')
    head
        link(rel="stylesheet", href="../../build/css/resetPassword.css", data-inline)
        meta(charset='UTF-8')
        title Adoption
    body(class='body')
        h1(class='h1') #{username}, ¡Hisciste una adopción!
        p(class='p') Sabemos que eres una persona bondadosa y confiamos en que le darás un buen hogar a <b>#{petName}</b>.
        p(class='token') De parte de PetsBridge te enviamos un enorme gracias.
        footer(class='footer')
            p(class='p') No responda a este remitente.
            p(class='p') Atte: Equipo de <b><i>PetsBridge.</i></b>