doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Adoption
    header(style='background-color:#613900; padding-top:4vh; padding-bottom:4vh;')
        h1(style='text-align:center') <span style='color:#1F120A;'>Pet</span><span style='color:#F0A83E;'>Bridge</span>
    body
        section(style='padding-bottom:2vh; border-bottom:solid #AA6C0D;')
            h1(style='color:#DE8C11;') #{username}, ¡Hisciste una adopción!
            p(style='text-align: left; color:#1F120A;') Sabemos que eres una persona bondadosa y confiamos en que le darás un buen hogar a <b>#{petName}</b>.
            p(style='text-align: left; color:#1F120A;') De parte de <b><i>PetBridge<i></b> te enviamos un enorme <span style='font-size:2em;'>Gracias</span>.
        footer
            p(style='text-align: left; color:#1F120A;') No responda a este remitente.
            p(style='text-align: left; color:#1F120A;') Atte: Equipo de <b><span style='color:#1F120A;'>Pet</span><span style='color:#F0A83E;'>Bridge</span></b>.