doctype html
html(lang='es')
    head
        link(rel="stylesheet", href="../../build/css/resetPassword.css", data-inline)
        meta(charset='UTF-8')
        title Reset Password
    body(class='body')
        h1(class='h1') ¡Saludos.!
        p(class='p') Usa el siguiente token para crear una nueva contraseña.
        p(class='token') #{token}
        footer(class='footer')
            p(class='p') Este token expirará en <b> diez minutos.</b>
            p(class='p') No responda a este remitente.
            p(class='p') Atte: Equipo de <b><i>PetsBridge.</i></b>
            