doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        title Reset Password
    header(style='background-color:#613900; padding-top:4vh; padding-bottom:4vh;')
         h1(style='text-align:center; font-family:latin; font-style:oblique;') <span style='color:#1F120A;'>Pet</span><span style='color:#F0A83E;'>Bridge</span>
    body
        section(style='padding-bottom:2vh; border-bottom:solid #AA6C0D;')
            h2(style='color:#DE8C11;') ¡Saludos #{username}!
            p(style='text-align: left; color:#1F120A;') Usa el siguiente token para crear una nueva contraseña.
            p(style='background-color: gray; border-radius:0.5em; padding:1vh 1vw;') #{token}
        footer
            p(style='text-align: left; color:#1F120A;') Este token expirará en <b> diez minutos.</b>
            p(style='text-align: left; color:#1F120A;') No responda a este remitente.
            p(style='text-align: left; color:#1F120A;') Atte: Equipo de <b><span style='color:#1F120A;'>Pet</span><span style='color:#F0A83E;'>Bridge</span></b>.
            